[submodule "IoT_Semester_project"]
	path = modules/Drivers
	url = https://github.com/ihavn/IoT_Semester_project
[submodule "VIA_FreeRTOS_AVRMEGA"]
	path = modules/FreeRTOS
	url = https://github.com/HighKingofMelons/VIA_FreeRTOS_AVRMEGA
